.main_container {
    background-color: #1d2148;
    min-height: 100vh;
}

.logo_link {
    z-index: 999;
    position: absolute;
    margin: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.sidebar {
    position: fixed;
    display: flex;
    min-height: 100%;
    align-items: center;
    max-width: 400px;
}
