.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1d2148;
    border-radius: 15px;
    padding: 1rem;
    min-width: 300px;

    margin-bottom: 1rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name {
    color: white;
}

.icon {
    cursor: pointer;
    margin-left: 1rem;
}