.main_container {
    background-color: #1d2148;
    min-height: 100vh;
}

.logo_link {
    z-index: 999;
    position: absolute;
    margin: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.sidebar {
    position: fixed;
    display: flex;
    min-height: 100%;
    align-items: center;
    max-width: 400px;
}

.content {
    margin: 0 400px 0 400px;
    min-width: 400px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_title {
    color: white;
    margin: 0 0 2rem 0;
    padding: 0;
}

.leave_container {
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    background-color: #161a3b;

    padding: 1rem 2rem 2rem 2rem;
}

.leave_title {
    color: white;
    align-self: center;
    margin-bottom: 2rem;
}

.leave_button {
    min-width: 100px;
    color: white;
    background-color: #bb3131;
    border: unset;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
